#
# Systemd Service
# Rclone Mount
# Backblaze Backup Bucket
#

[Unit]
Description=RClone Mount Backblaze backup bucket
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
# restart with backoff on failure
Restart=on-failure
RestartSec=10
RestartSteps=5
RestartMaxDelaySec=300
Environment=RCLONE_CONFIG=/etc/rclone.conf
ExecStart=/usr/bin/rclone mount b2:mrzzy-co-volt-backup "{{ devbox_borgbackup_remote_mountpoint }}" \
# This is for allowing users other than the user running rclone access to the mount
--allow-other \
--log-file /var/log/rclone-backup-mount.log \
--vfs-cache-mode full \
# Speed up the reading: Use fast (less accurate) fingerprints for change detection
--vfs-fast-fingerprint
ExecStop=/bin/fusermount3 -uz "{{ devbox_borgbackup_remote_mountpoint }}"

[Install]
WantedBy=multi-user.target
