#
# Systemd Service
# Borgmatic Backup
# Remote: Backblaze bucket
#

[Unit]
Description=Remote Borgmatic backup to Backblaze backup bucket
Wants=rclone-backup-mount.service
After=rclone-backup-mount.service

# Prevent borgmatic from running unless the machine is plugged into power.
ConditionACPower=true

[Service]
Type=simple

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

# Delay start to prevent backups running during boot. Note that systemd-inhibit requires dbus and
# dbus-user-session to be installed.
ExecStartPre=/usr/bin/sleep 1m
ExecStart=/usr/bin/systemd-inhibit --who="borgmatic" --what="sleep:shutdown" --why="Prevent interrupting scheduled backup" /usr/bin/borgmatic -c /etc/borgmatic/remote.yaml create prune --verbosity 2 --syslog-verbosity 1 --list --stats
