#
# WARP
# CI Pipeline
# Build Box Image
#

name: CI Pipeline
on:
  push: {}
jobs:
  build-box:
    env:
      REGISTRY: ghcr.io
      IMAGE: warp
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # required to fetch git branch info
          fetch-depth: "0"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Gather Docker image meta for CLI image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE }}
          tags: |
            type=raw,value=latest
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push CLI Docker image
        uses: docker/build-push-action@v6
        with:
          context: box
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build-box-arm64:
    env:
      REGISTRY: ghcr.io
      IMAGE: warp
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # required to fetch git branch info
          fetch-depth: "0"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Gather Docker image meta for CLI image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE }}
          tags: |
            type=raw,value=latest,suffix=-arm64
            type=ref,event=branch,suffix=-arm64
            type=ref,event=tag,suffix=-arm64
            type=ref,event=pr,suffix=-arm64
            type=semver,pattern={{version}},suffix=-arm64
            type=semver,pattern={{major}}.{{minor}},suffix=-arm64

      - name: Build and push CLI Docker image
        uses: docker/build-push-action@v6
        with:
          context: box
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
