#
# WARP
# CI Pipeline
# Lint
#

name: Lint WARP Source Code
on: push
jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: "0"

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"
        cache: "pip"

    - name: Install Python Tooling
      run: |
        set -ex -o pipefail
        pip install -r requirements.txt
        pre-commit install-hooks

    - name: Install Ansible Roles dependencies from Ansible Galaxy
      run: make ansible-deps

    - uses: gitleaks/gitleaks-action@v2
      env:
        # need by gitleaks to access github api (eg. pr comments)
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Lint code
      env:
        PACKER_GITHUB_API_TOKEN: ${{ github.token }}
      run: make lint
